<%= form_with(model: [@case, @case.scans.build], local: true) do |form| %>

	<% if @case.errors.any? %>
	<div id="error_explanation">
		<h2> <%= pluralize(@case.errors.count, "error") %> prohibited this case from being saved</h2>
		<ul>
			<% @case.errors.full_messages.each do |msg| %>
			<li> <%= msg %> </li>
			<% end %>
		</ul>
	</div>

	<% end %>




	<p>
		<%= form.label :protocol_id %>
		<%= form.collection_select :protocol_id, @protocols, :id, :name, include_blank: true %> 
	</p>
	<p>
		<%= form.label :scandate %>
		<%= form.date_select :scandate, start_year: 1990 %>
	</p>
	
	<p>
		<%= form.label :path %><br>
		<%= form.text_field :path %>
	</p>
	<p>

		<%= form.submit %>
	</p>


<% end %>