
<%= form_with model: @protocol, local: true do |form| %>
	
	<% if @protocol.errors.any? %>
	<div id="error_explanation">
		<h2> <%= pluralize(@protocol.errors.count, "error") %> prohibited this case from being saved</h2>
		<ul>
			<% @protocol.errors.full_messages.each do |msg| %>
			<li> <%= msg %> </li>
			<% end %>
		</ul>
	</div>

	<% end %>



	<p>
		<%= form.label :name %>
		<%= form.text_field :name %> 
	</p>
	<p>
		<%= form.label :weight %>
		<%= form.select :weight, Protocol.weights.keys.to_a %>
	</p>
	<p>
		<%= form.label :resolution %>
		<%= form.number_field :resolution %>
	</p>
	<p>
		<%= form.submit %>
	</p>
	

<% end %>
